<h2><%= @listing_category.name %></h2>

<p>
  <strong>Description:</strong>
  <%= @listing_category.description %>
</p>

<%= render partial: 'listing_categories/partials/listing', collection: @listings %>

<%== pagy_bootstrap_nav(@pagy) %>
