<div class="container-fluid gedf-wrapper">
  <div class="row">
    <div class="col-md-3">
      <ul class="list-group">
        <%= render partial: 'home/partials/category_link', collection: ListingCategory.all %>
      </ul>
    </div>
    <div class="col-md-9 gedf-main">
      Buy & Sell Secondhand
      You Can Buy, Sell Or Simply Trade Anything You Can Think Of.

      <%= render partial: 'home/partials/listing', collection: @listings %>
      <%== pagy_bootstrap_nav(@pagy) %>
    </div>
  </div>
</div>
